canvas{
    display: block;
    margin:10px auto 20px;
    box-shadow: -2px -2px 2px #efefef,5px 5px 5px #b9b9b9;
}
#status{
    width: 450px;
    margin: 0 auto 10px;
    text-align: center;
}
.buttonGroup{
    width:450px;
    margin:0 auto;
}
#time{
    width: 450px;
    margin: 30px auto 10px;
    text-align: right;
}
.buttonGroup a{
    display:inline-block;
    width:100px;
    height:35px;
    background:green;
    border-radius:5px;
    text-align:center;
    line-height:35px;
    color:#fff;
    text-decoration:none;
}